<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" itemscope itemtype="http://schema.org/Product">
<head>
    <script type="text/javascript">
        var _kiq = _kiq || [];
    </script>
    <script type="text/javascript" src="https://s3.amazonaws.com/ki.js/30811/5_x.js" async="true"></script>
    <script type="text/javascript">
        var _kmq = _kmq || [];

        function _kms(u) {
            setTimeout(function () {
                var s = document.createElement('script');
                var f = document.getElementsByTagName('script')[0];
                s.type = 'text/javascript';
                s.async = true;
                s.src = u;
                f.parentNode.insertBefore(s, f);
            }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');
        _kms('//doug1izaerwt3.cloudfront.net/173432c16c00b1151133480101e0916b79f08fca.1.js');
        _kmq.push(['identify', 'marshluca@gmail.com']);
        _kiq.push(['identify', 'marshluca@gmail.com']);
    </script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />


    <title>Landing Pages: Quickly Customize, Publish, and Automatically Multivariate Test | Instapage</title>
    <meta name="google-site-verification" content="" />
    <meta name="description" content="InstaPage lets anyone quickly and easily build, publish, and automatically multivariate test landing pages with less work and no code. Get your pages online today and put your marketing efforts on cruise control." />
    <meta name="keywords" content="instapage,landing page,page builder,automatic multivariate testing" />
    <meta name="robots" content="index,follow" />


    <meta property="og:title" content="InstaPage - Landing Pages Made Easy" />
    <meta property="og:description" content="InstaPage lets anyone quickly and easily build, publish, and automatically multivariate test landing pages with less work and no code. Get your pages online today and put your marketing efforts on cruise control."
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="InstaPage" />
    <meta property="og:image" content="http://www.instapage.com/static/img/site/ip_social_logo.png" />

    <meta itemprop="name" content="InstaPage - Landing Pages Made Easy">
    <meta itemprop="description" content="InstaPage lets anyone quickly and easily build, publish, and automatically multivariate test landing pages with less work and no code. Get your pages online today and put your marketing efforts on cruise control.">
    <meta itemprop="image" content="http://www.instapage.com/static/img/site/ip_social_logo.png">

    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-ip_v2-reset-279-jmin.css.jgz" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-ip_v2-style-279-jmin.css.jgz" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-ip_v2-auth-279-jmin.css.jgz" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-lightbox-279-jmin.css.jgz" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-ip_v2-tooltip-279-jmin.css.jgz" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-ip_v2-btn-279-jmin.css.jgz" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-ip_v2-pagination-279-jmin.css.jgz" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-jcarousel-skins-ip2-skin-279-jmin.css.jgz" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://d1i0kec7rwhor.cloudfront.net/css-base-forms-279-jmin.css.jgz" />

    <!--[if IE 6]>
        <link type="text/css" rel="stylesheet" media="screen, print" href="https://d1i0kec7rwhor.cloudfront.net/css-ie6-main-279-jmin.css.jgz" />
        <![endif]-->

    <!--[if IE 7]>
        <link type="text/css" rel="stylesheet" media="screen, print" href="https://d1i0kec7rwhor.cloudfront.net/css-ie7-main-279-jmin.css.jgz" />
        <![endif]-->

    <!--[if IE 8]>
        <link type="text/css" rel="stylesheet" media="screen, print" href="https://d1i0kec7rwhor.cloudfront.net/css-ie8-main-279-jmin.css.jgz" />
        <![endif]-->

    <!--[if gt IE 8]>
        <link type="text/css" rel="stylesheet" media="screen, print" href="https://d1i0kec7rwhor.cloudfront.net/css-ie9-main-279-jmin.css.jgz" />
        <![endif]-->

    <link rel="shortcut icon" href="" type="image/x-ico" />

    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jq-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jq-ui-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jq.hoverintent-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jcarousel-jq.jcarousel.min-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-site-site-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jquery.input-hint-279-jmin.js.jgz"></script>





    <link rel="stylesheet" type="text/css" href="https://d1i0kec7rwhor.cloudfront.net/css-ip_v2-dashboard-279-jmin.css.jgz" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://d1i0kec7rwhor.cloudfront.net/css-base-forms-279-jmin.css.jgz" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://d1i0kec7rwhor.cloudfront.net/css-freemium-279-jmin.css.jgz" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://d1i0kec7rwhor.cloudfront.net/css-joyride-2.0.3-279-jmin.css.jgz" media="screen" />
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-mootools-core-1.3.hash.c777de7f9b42dddce578c8f8ce4c13a1-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jq-ui-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jquery.tmpl.min-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lb-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jq.json-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-yesnodialog-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-sharedialog-279-jmin.js.jgz"></script>
    <!-- <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-instapage-dashboard-279-jmin.js.jgz"></script> -->
    <script type="text/javascript" src="js/js-instapage-dashboard-279-jmin.js"></script>
    <!-- <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-instapage-dashboard-page-279-jmin.js.jgz"></script> -->
    <script type="text/javascript" src="js/js-instapage-dashboard-page-279-jmin.js"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-instapage-dashboard-page-group-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-jquery.validate.min-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-pageurldialog-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-adddomaindialog-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-freemium-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-base64-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-joyride-jquery.joyride-2.0.3-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-joyride-modernizr.mq-279-jmin.js.jgz"></script>
    <script type="text/javascript" src="https://d1i0kec7rwhor.cloudfront.net/js-lib-joyride-jquery.cookie-279-jmin.js.jgz"></script>


</head>


<!-- <div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1&appId=284491111573568";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script>
    ! function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
</script>
 -->

<div class="dim">
    <div class="loading">
        <img class="loading_spinner" src="https://app.instapage.com/static/img/loading.gif" />
        <div class="loading_msg">Loading...</div>
    </div>
    <div class="message"></div>
</div>

<script type="text/javascript">
    var uvOptions = {
        sso: "p0qpqVG32WDHw4XVhi6ZEK%2F2FvpalKymFN4upmmGT5dfQmzJue0rMzPPUxczqtbmy1VBY3bmGkPw9%2BNGV8XMk0x0MLazD4mihwtw2FXGus8XTalLn%2B2uZ2W4ZgzDE0%2BZDiSd6rx6rDDgQuwq5shikynTJmRLj6Hn6yeKjVrln%2B0%3D"
    };
    (function () {
        var uv = document.createElement('script');
        uv.type = 'text/javascript';
        uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/qfyHInu1JIYp9tI57a78g.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(uv, s);
    })();
</script>

<div id="header_wrapper">

    <div id="top_bg">
        <div id="top_bar">

            <div id="menu_wrapper">

                <div class="logo">
                    <a id="custom_logo" href="/">
                        <img src="https://app.instapage.com/static/img/ip2/site/ip_logo_modern.png" alt="InstaPage" />
                    </a>
                </div>

                <div class="menu-main-menu-container">
                    <ul class="account_controls">
                        <li class="hover-tip">
                            <a href="/account" onClick="javascript:$('.dim').show();" class="controls-btn" id="account_management"></a>
                            <div data-tooltip="Account Management" aria-label="Account Management" aria-disabled="true" class="tip" style="display: none;"></div>
                        </li>
                        <li class="hover-tip">
                            <a href="/auth/logout" class="controls-btn" id="account_logout"></a>
                            <div data-tooltip="Logout" aria-label="Logout" aria-disabled="true" class="tip" style="opacity: 0.9516; display: none;"></div>
                        </li>
                    </ul>
                    <ul id="main_menu" class="nav">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><span class="text">Hello <strong id="user-firstname">Lin</strong></span>
                        </li>


                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>

<div id="page">
    <div id="page_wrapper">
        <div id="page_content">

            <script id="dashboardPageItem" type="text/x-jquery-tmpl">
                <div class="page_item">
                    <div class="page_item_inner delete" style="display: none; height: 51px; padding-top: 18px; padding-bottom: 6px;">
                        <div style="float: left; font-size: 15px;">
                        Are you sure you want to delete this page?<br />
                        You won not be able to access it again.
                        </div>
                        <div style="float: right; margin-top: 4px;">
                            <a href="#" class="button_no button_link">
                            &nbsp;
                            </a>
                            <a href="#" class="button_yes button_link">
                            &nbsp;
                            </a>
                            <div style="clear: both;"></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    {{if user.pay_per_page && !page.page1}}
                        <div class="page_item_inner clone" style="display: none; height: 51px; padding-top: 18px; padding-bottom: 6px;">
                            <div style="float: left; font-size: 15px; margin-top: 10px;">
                                Would you also like to copy the A/B variants of this page?
                            </div>
                            <div style="float: right; margin-top: 4px;">
                                <a href="#" class="button_no button_link">
                                &nbsp;
                                </a>
                                <a href="#" class="button_yes button_link">
                                &nbsp;
                                </a>
                                <div style="clear: both;"></div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    {{else}}
                        <div class="page_item_inner clone" style="display: none; height: 51px; padding-top: 18px; padding-bottom: 6px;">
                            <div style="float: left; font-size: 15px;">
                     Your current plan allows ${user.get_pages_limit} page{{if user.get_pages_limit != 1}}s{{/if}}. You will need <a href="javascript:void(0);" onclick="return _Application.showUpgradePlans();">upgrade</a><br /> to publish new pages.  Continue Cloning?
                            </div>
                            <div style="float: right; margin-top: 4px;">
                                <a href="#" class="button_no button_link">
                                &nbsp;
                                </a>
                                <a href="#" class="button_yes button_link">
                                &nbsp;
                                </a>
                                <div style="clear: both;"></div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    {{/if}}

                    <div class="page_item_inner share" style="display: none; height: 51px; padding-top: 18px; padding-bottom: 6px;">
                        <div style="float: left; font-size: 15px; width: 443px;">
                            <div class="share_message">Share this page on:</div>
                            <div onclick="return popitup('http://www.facebook.com/sharer.php?u=${page.url}','Share on Facebook')"  class="ip_form_button ip_form_graybutton share_button" style=" width:100px;" ><img src="https://app.instapage.com/static/img/ip2/btns/fb_btn.png" class="title_button" /></div>
                            <div onclick="return popitup('http://twitter.com/share?text=Hey%20Everyone%2C%20I%20just%20created%20a%20new%20landing%20page%20using%20InstaPage!%20Go%20check%20it%20out%20and%20let%20me%20know%20what%20you%20think. http://&amp;url=','Share on Twitter')" class="ip_form_button ip_form_graybutton share_button" style="width:80px;" ><img src="https://app.instapage.com/static/img/ip2/btns/tw_btn.png" class="title_button"  /></div>


                            <div onclick="return popitup('http://www.linkedin.com/shareArticle?mini=true&url=${page.url}','Share on Linkedin')" class="ip_form_button ip_form_graybutton share_button" style="width:93px;" ><img src="https://app.instapage.com/static/img/ip2/btns/li_btn.png"  class="title_button"  /></div>
                           
                        </div>
                        <div style="float: right;">
                            <div class="ip_form_button ip_form_bluebutton share_ok">OK</div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="page_item_inner rename" style="display: none; height: 51px; padding-top: 18px; padding-bottom: 6px;">
                        <div style="float: left; font-size: 15px; width: 420px;">
                            <input type="text" name="new-page-name" value="${page.title}" class="input-hint" style="font-size: 21px; width: 100%;">
                        </div>
                        <div style="float: right;">
                            <a href="#" class="button_ok button_link rename-page-button-done">
                            &nbsp;
                            </a>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="page_item_inner normal">
                        <div class="page_description">
                            <div class="page_name">
                                {{if !page.page1}}
                                    <a href="http://app.instapage.com/server/preview_page/${page.id}" title="Preview ${page.title}" target="_blank">
                                {{/if}}
                                        <span id="page-name-${page.id}">{{if page.short_title}}${page.short_title}{{else}}(no title){{/if}}</span>
                                {{if !page.page1}}
                                    </a>
                                {{/if}}
                                <span class="page_status_light ${page.status}" title="Page ${page.status}"></span>
                            </div>
                            {{if page.active_page}}
                                <div class="page_url">
                                    {{if page.configuration && page.configuration.wordpress}}
                                        {{if page.url.test('view-by-id')}}
                                            <span>This page has not been set up in wordpress yet.</span>
                                        {{else}}
                                            <span>Published to wordpress</span>

                                                                                <a target="_blank" href="http://${page.url}" title="http://${page.url}">http://${page.url}</a>
                                                                        {{/if}}
                                    {{else}}
                                        {{if !page.validate_custom_domain}}
                                            Custom domain may not work. <a href="http://feedback.instapage.com/knowledgebase/articles/244393" target="_blank">Learn more</a>
                                        {{else}}
                                                                                <a target="_blank" href="http://${page.url}" title="http://${page.url}">http://${page.url}</a>
                                                                        {{/if}}
                                    {{/if}}
                                </div>
                            {{else}}
                                {{if page.version != page.published_version}}
                                    <div class="page_status unpublished">This page has not been published.</div>
                                {{else}}
                                    <div class="page_status unpublished">Not Published.</div>
                                {{/if}}
                            {{/if}}
                        </div>

                        <div class="dashboard_controls page_options">
                            <ul>
                                <li class="hover-tip">
                                    <a id="edit" class="controls-btn btn_edit_page" href="/builder{{if !page.page1}}2{{/if}}?id=${page.id}"></a>
                                    <div class="tip" aria-disabled="true" aria-label="Edit Page" data-tooltip="Edit Page"></div>
                                </li>
                                <li class="hover-tip">
                                    <a id="stats" class="controls-btn btn_stats" href="/stats/${page.id}"></a>
                                    <div class="tip" aria-disabled="true" aria-label="Page Stats" data-tooltip="Page Stats"></div>
                                </li>
                                <li class="hover-tip">
                                    <a id="email" class="controls-btn btn_stats" href="/submissions/${page.id}"></a>
                                    <div class="tip" aria-disabled="true" aria-label="Page Stats" data-tooltip="Submissions"></div>
                                </li>
                                <li class="hover-tip">
                                    <div class="options controls-btn btn_more_box">
                                        <div class="more_dropdown_menu">
                                            <ul>
                                                <li class="change-name-button"><span>Rename Page</span></li>
                                                <li class="duplicate-button"><span>Duplicate Page</span></li>
                                                <li class="delete-page-button"><span>Delete Page</span></li>
                                                {{if page.active_page}}
                                                    <li><a href="#" onclick="window.location='/builder/publish/${page.id}#url'; return false;">Edit Page URL</a></li>
                                                    <li class="share-page-button"><span>Share Page</span></li>
                                                {{/if}}
                                                {{if !page.configuration || !page.configuration.wordpress}}<li><a href="#" onclick="window.location='/builder/publish/${page.id}#wordpress'; return false;">Wordpress</a></li>{{/if}}
                                                <li class="change-group"><span>Add to Group</span></li>
                                                <li>&nbsp;</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tip" aria-disabled="true" aria-label="Options" data-tooltip="Options"></div>
                                </li>
                            </ul>
                        </div>

                        <div class="select_group" style="float:right; display:none;" >
                            <div class="ip_select dropdown">Choose Group</div>
                            <div class="ip_select_dropdown more_dropdown_menu">
                                <ul class="page-group-list">
                                    <li class="new-group"><span>New Group</span></li>
                                    <li></li>
                                </ul>
                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </script>


            <script type="text/javascript">
                var _Application = null;

                $(document).ready(function () {
                    _Application = new InstapageDashboard({
                        user_id: 29890
                    });

                });
            </script>



            <div id="notifications">
                <div class="dashborad_notification_container"></div>
            </div>
            <script type="text/javascript">
                function close_notification_box(idbox) {
                    $("#notification_box_" + idbox).fadeOut("slow");
                    $.post("/ajax/userusage/notification_usage/", {
                        "userid": _Application.user.id,
                        "contentid": idbox
                    });
                }
            </script>

            <div id="dashboard_container">

                <div id="dashboard" class="dashboard">

                    <div id="dashboard_main_head">

                        <a id="btn_create_new_landing_page" class="left ip_form_button ip_form_bluebutton" href="http://app.instapage.com/builder/new_page">Create New Landing Page</a>


                        <div class="create-new-group hover-tip">
                            <div class="new-group-button"></div>
                            <div class="tip" aria-disabled="true" aria-label="New Group" data-tooltip="New Group"></div>
                        </div>

                        <div class="help_area">
                            <div class="dashboard_controls right">
                                <ul>
                                    <li class="hover-tip">
                                        <a id="guide" class="controls-btn" href="/kickstart" target="_blank"></a>
                                        <div class="tip" aria-disabled="true" aria-label="Quickstart Guide" data-tooltip="Quickstart Guide"></div>
                                    </li>
                                    <li class="hover-tip">
                                        <a id="docs" class="controls-btn" href="http://feedback.instapage.com/knowledgebase" target="_blank"></a>
                                        <div class="tip" aria-disabled="true" aria-label="Get Help" data-tooltip="Get Help"></div>
                                    </li>
                                </ul>
                            </div>

                            <div class="knowledgebase_search right">
                                <form id="uv_search" action="http://feedback.instapage.com/knowledgebase/search" target="blank">
                                    <input class="sq_input" type="text" name="query" value="" id="search_box" placeholder="Search for help..." style=" padding-left: 8px;" />
                                </form>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div id="dashboard_split">

                        <div id="dashboard_main">
                            <a name="new-group"></a>

                            <div class="create-group">
                            </div>

                            <div class="page-groups"></div>
                            <div class="ungrupped-pages"></div>
                            <div class="deleted-pages"></div>
                            <div class="loading-dashboard">Loading your dashboard...</div>
                        </div>

                        <div id="dashboard_side">



                            <div id="freemium_box" class="section">
                                <div class="sideBoxMid">
                                    <h2>Unique Visitor Meter</h2>
                                    <div class="bar_graytext hover-tip">

                                        <div style="float:left;line-height: 16px;">Total Visitors since &nbsp;<strong>10/24/2013</strong>
                                        </div>
                                        <div class="dashboard_controls ">
                                            <ul>
                                                <li class="hover-tip">
                                                    <div class="ip_bar" style="width:248px;">
                                                        <div class="" style="text-align: center;">3&nbsp;</div>
                                                    </div>
                                                    <div data-tooltip="The first 100 free visitors resets every 30 days." aria-disabled="true" class="tip widetip"></div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <br />


                                    <div style="clear: both"></div>
                                </div>

                            </div>


                            <div id="todo_box" class="section">
                                <div id="custom_recent_posts-4" class="widget Custom_Recent_Posts sideBox">
                                    <div class="sideBoxMid">
                                        <h3 class="sidebar_ttl"><b class="flt_Lt name">From our Blog</b><span class="clear_0">&nbsp;</span></h3>
                                        <ul class="posts blog black_wrapper postList">
                                            <li>
                                                <span class="imgCont flt_Lt"><a href="http://www.instapage.com/2013/10/21/landing-page-grouping/"><img src="http://www.instapage.com/wp-content/uploads/2013/10/instapage-landing-page-grouping.jpg"  width="40" height="40" alt="" class="img_nofade frame" /><br /></a></span>
                                                <span class="text flt_Lt"><a href="http://www.instapage.com/2013/10/21/landing-page-grouping/" target="_blank">The Power of Grouping!</a></span>
                                                <span class="clear_0">&nbsp;</span>
                                            </li>
                                            <li>
                                                <span class="imgCont flt_Lt"><a href="http://www.instapage.com/2013/10/18/aweber-landing-page/"><img src="http://www.instapage.com/wp-content/uploads/2013/10/aweber_landing_page_template.png"  width="40" height="40" alt="" class="img_nofade frame" /><br /></a></span>
                                                <span class="text flt_Lt"><a href="http://www.instapage.com/2013/10/18/aweber-landing-page/" target="_blank">Learn How to Create a Perfect AWeber Landing Page</a></span>
                                                <span class="clear_0">&nbsp;</span>
                                            </li>
                                            <li>
                                                <span class="imgCont flt_Lt"><a href="http://www.instapage.com/2013/10/14/constant-contact/"><img src="http://www.instapage.com/wp-content/uploads/2013/10/NewConstantContactLogo.jpg"  width="40" height="40" alt="" class="img_nofade frame" /><br /></a></span>
                                                <span class="text flt_Lt"><a href="http://www.instapage.com/2013/10/14/constant-contact/" target="_blank">Hello Constant Contact!</a></span>
                                                <span class="clear_0">&nbsp;</span>
                                            </li>
                                            <li>
                                                <span class="imgCont flt_Lt"><a href="http://www.instapage.com/2013/10/01/custom-conversion-goals/"><img src="http://www.instapage.com/wp-content/uploads/2013/10/targeting.jpg"  width="40" height="40" alt="" class="img_nofade frame" /><br /></a></span>
                                                <span class="text flt_Lt"><a href="http://www.instapage.com/2013/10/01/custom-conversion-goals/" target="_blank">Custom conversion goals have arrived!</a></span>
                                                <span class="clear_0">&nbsp;</span>
                                            </li>
                                            <li>
                                                <span class="imgCont flt_Lt"><a href="http://www.instapage.com/2013/09/27/landing-page-improvements/"><img src="http://www.instapage.com/wp-content/uploads/2013/09/recovery.jpg"  width="40" height="40" alt="" class="img_nofade frame" /><br /></a></span>
                                                <span class="text flt_Lt"><a href="http://www.instapage.com/2013/09/27/landing-page-improvements/" target="_blank">The landing page rehab program. Improve your conversion rates today!</a></span>
                                                <span class="clear_0">&nbsp;</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clear"></div>

                    </div>

                </div>

                <div id="dashboard_container_seal"></div>
            </div>

            <script id="dashboardPageGroup" type="text/x-jquery-tmpl">
                <div class="group_wrapper">
                    <div class="group-info-box">
                        <a name="group-${page_group.id}"></a>
                        <div class="folder toggle-pages"></div>
                        <div class="text">
                            <div class="foldername"><span>${page_group.name}</span></div>
                            <div class="folderstats">
                                <strong class="pages-count">{{if page_group.pages_count}}${page_group.pages_count}{{else}}0{{/if}}</strong>
                                Landing Pages,
                                <strong class="published-pages-count">{{if page_group.published_pages_count}}${page_group.published_pages_count}{{else}}0{{/if}}</strong>
                                published</div>
                        </div>
                        <div class="settings hover-tip">
                            <div class="settings-menu">
                                <div class="delete setting-item">Delete</div>
                                <div class="rename setting-item">Rename</div>
                            </div>
                            <div class="tip" aria-disabled="true" aria-label="Group Options" data-tooltip="Group Options"></div>
                        </div>

                        <div class="clear"></div>
                        <div class="pages-in-group"></div>
                    </div>
                </div>
            </script>

            <script id="dashboardDeletedPage" type="text/x-jquery-tmpl">
                <div class="item" page-id="${id}">
                    <a name="deleted-page-${id}"></a>
                    <strong>Deleted:</strong> "${title}" <a href="#" class="undo">Undo</a>
                </div>
            </script>

            <script id="missingEmailForm" type="text/x-jquery-tmpl">
                <div>
                    {{if error}}
                        <div class="error">${error}</div>
                    {{/if}}

                    <form action="/dashboard" method="post">
                        <input type="text" value="" name="email" />
                    </form>
                </div>
            </script>

            <script id="createGroupForm" type="text/x-jquery-tmpl">
                <input class="left ip_form_textbox" type="text" name="group-name" placeholder="Name Your Group" />
                <div class="ip_form_button ip_form_bluebutton right create-group-button">Create</div>
                <div style="clear: both;"></div>
            </script>

            <script id="deleteGroupConfirm" type="text/x-jquery-tmpl">
                <div class="delete-group-confirm">
                    <div style="float: left; font-size: 15px;">
                    Are you sure you want to delete this group?<br />
                    All pages in group will be moved to regular stream.
                    </div>
                    <div style="float: right; margin-top: 4px;">
                        <a href="#" class="button_no button_link">
                        &nbsp;
                        </a>
                        <a href="#" class="button_yes button_link">
                        &nbsp;
                        </a>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </script>
            
        </div>
        <div class="clear"></div>
        <div id="footer">
            <div id="footer_wrapper">
                <div class="footer_links">
                    <a href="http://feedback.instapage.com/knowledgebase" target="_blank">Help</a>
                    <a href="javascript:UserVoice.showPopupWidget();">Feedback & Support</a>
                    <a href="http://www.instapage.com/blog" target="_blank">Blog</a>
                </div>
                <div class="footer_branding">
                    <div class="fb fb-like" data-href="https://www.facebook.com/InstaPageInc" data-send="false" data-layout="button_count" data-width="250" data-show-faces="false" data-font="arial"></div>

                    <div class="tw">
                        <a href="https://twitter.com/InstaPage" class="twitter-follow-button" data-show-count="false">Follow @InstaPage</a>
                    </div>

                    <div class="copyright">
                        &copy; 2013 Instapage
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).bind("load", function () {
        hideDim();
    });
    setTimeout('hideDim()', 3000);

    function hideDim() {
        $(".dim").hide();
    }
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27982330-1']);
    _gaq.push(['_setDomainName', 'instapage.com']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>


</html>
